:root {
    --main-white: #f0f0f0;
    --main-red: rgb(46, 3, 3);;
    --main-blue: #45567d;
    --main-gray: #252424;
    --main-black: #1d1b1b;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    background-color:var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: inherit;
    display: flex;
    height: 65px;
    position: fixed;
    background-color: var(--main-red);
    justify-content: flex-end;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    margin-right: 20px;
    height: inherit;
    margin-bottom: auto;
    margin-top: auto;
}
#nav-item{
    padding: 2px 20px 2px 20px ;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--main-white);
}
#nav-item:hover{
    background-color: #9e2a2b;
    color: rgba(1,1,1,1);
    font-size: 30px;
}

#nav-item-link{
    text-decoration: none;
    color: inherit;
    /* text-align: center; */
}

.welcome-section{
    width: 100%;
    display: flex;
    background: #000000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome-section h1{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: var(--main-white);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--main-red); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: inherit }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main-red); }
  }
.welcome-section h5{
    font-size: 15px;
    padding: 10px;
    color: var(--main-red);
}
.welcome-section h5:hover{
    transform: scale(1.3);
}
#profile-logo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 5px solid var(--main-red);
}
.project-sec{
    background-color: var(--main-black);
}
.project-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 25px;
    /* max-width: 1280px; */
    /* margin: 10px auto 10px auto; */
     margin-bottom: 50px;
    /* margin-top: 500px; */
}
.project{
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-decoration: none;
    color: white;
    margin: 0 auto; 
    font-size: large;
    font-family: sans-serif;
    text-align: center;
}
.project-img{
    height: auto;
    width: 100%;
    object-fit: fill;
}
.project-title{
    padding: 10px;
}
.code{
    color: var(--main-gray);
    font-weight: bolder;
}

.project:hover .code{
    color: var(--main-red);
}

.project-header{
    text-align: center;
    text-decoration: underline;
    margin: 4rem auto 2rem auto;
    font-size: 35px;
    font-weight: 200;
    font-family: monospace;
    color: var(--main-white);
}

.contact-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contact-section-header h2{
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.contact-section-header p{
    font-size: 1.5rem;
    font-family: cursive;
}

.contact-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-link-item{
    color: var(--main-white);
    font-size: 25px;
    text-decoration: none;
    font-family: monospace;
    margin: 4rem 1rem 4rem 1rem;
    padding:5px;
}

.contact-link-item:hover{
    color: var(--main-red);
    transform: scale(1.2);
}

[class*="fa-"]{
    margin:5px;
}

hr{
    border: 4px solid var(--main-red);
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    padding: 1rem;
}

#footer-link{
    text-decoration: none;
    color: #000000;
    margin: 4rem 0.1rem 4rem 0.1rem;
    padding:5px;
}

#footer-link:hover{
    color: var(--main-red);
}

@media (max-width: 28.75em){
.nav-bar{
    justify-content: center;
}

.project-section{
    grid-template-columns: 1fr;
}
}

